#titre_de_la_page{
    text-align: center;
    font-size:x-large;
    font-weight: bold;
    color: green;
}
body{
    background-image: url("photo_train.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }